/** @format */
:root {
	--header-color: #350d36;
	--sidebar-color: #3f0e40;
}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}

.app__body {
	display: flex;
}
.sidebar {
	flex: 0.2;
}
.chat {
	flex: 0.8;
}
.green {
	color: green;
}
::-webkit-scrollbar {
	width: 4px;
}

::-webkit-scrollbar-track {
	/* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px var(--sidebar-color);
}
a {
	text-decoration: none;
}